APP_ENV=dev
APP_DEBUG=true
APP_URL=http://flagprahova.test
BASE_PATH=
ADMIN_PATH=admin
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=flagprahova
DB_USER=root
DB_PASS=
MAIL_FROM=noreply@flagprahova.ro
MAIL_FROM_NAME="FLAG Prahova"
MAIL_ADMIN=flagprahova@gmail.com
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=tls
IP_SALT=schimba-ma-cu-un-sir-lung-aleator
TWIG_CACHE=false
